<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<!-- 该 BeanPostProcessor 将自动起作用，对标注 @Autowired 的 Bean 进行自动注入 -->
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<context:component-scan base-package="com.huihuizheng"></context:component-scan>
	<!-- 引入外部的属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置C3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<!-- <property name="initPoolSize" value="${jdbc.initPoolSize}"></property> 
			<property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property> -->
	</bean>
	<!-- 配置hibernate的相关属性 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- <property name="configLocation" value="classpath:hibernate.cfg.xml"></property> -->
		<!-- <property name="mappingLocations" value="classpath:com/huihuizheng/domain/*.hbm.xml"></property> -->
		<!-- 配置hibernate的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 加载hibernate中的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/huihuizheng/domain/User.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置业务层的类 -->
	<!--<bean id="registerAction" class="com.huihuizheng.action.RegisterAction" 
		scope="prototype"> <property name="userServiceImpl" ref="userServiceImpl"></property> 
		</bean> <bean id="loginAction" class="com.huihuizheng.action.LoginAction" 
		scope="prototype"> <property name="userServiceImpl" ref="userServiceImpl"></property> 
		</bean> <bean id="userServiceImpl" class="com.huihuizheng.serviceImpl.UserServiceImpl"> 
		<property name="userDaoImpl" ref="userDaoImpl"></property> </bean> <bean 
		id="userDaoImpl" class="com.huihuizheng.daoImpl.UserDaoImpl"> <property name="sessionFactory" 
		ref="sessionFactory"></property> </bean> -->
	<!-- 配置事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
</beans>
